<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/BeerShop_TringWebsite_Photo5.jpg" alt="" />
    <ion-card-header>
      <!-- <ion-card-subtitle>Get Started</ion-card-subtitle> -->
      <ion-card-title>Welcome to Brewery Shops</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Hi, to see the list view, plese open side menu and click on "Brewery Shops List" option.</p>
    </ion-card-content>
    <ion-card-content>
      <p>In "Brewery Shops List" page I implemet the search filter on Name of shop OR City of shop.</p>
    </ion-card-content>
    <ion-card-content>
      <p>Every "Brewery Shop" has detail address page which open by click on it.</p>
    </ion-card-content>
  </ion-card>
</ion-content>